{{!-- Eat/Delete Button --}}
<button type="button" class="change-devoured btn-block {{#if devoured}}btn btn-secondary btn-lg {{else}}btn btn-success btn-lg{{/if}}" data-id="{{id}}" data-devoured="{{devoured}}">
    {{burger_name}}
</button>