<h1>Eat-da-Burger!</h1>

<h2>Burgers To Eat</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}} {{!-- If not devoured --}}
            {{>burger-block devoured=false}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{>burger-block devoured=true}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger!</h2>

<form class="create">
<div class="form-group">
    <label for="newBurger">Burger Name:</label>
    <input type="text" id="newBurger" name="name">
</div>
<button type="submit">Add a Burger</button>
</form>