<main class="container pt-5 text-center">

    <h1 class="display-3 text-center">Eat-da-Burger!</h1>

    {{!-- <img src="../public/assets/img/burger.jpg" alt="Winky Burger Image"> --}}

    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-6">
                <h2>Burgers To Eat</h2>
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}} {{!-- If not devoured --}}
                    {{>burger-block devoured=false}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm-6">
                <h2>Devoured Burgers</h2>
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{>burger-block devoured=true}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <h2>Add a Burger!</h2>

    <form class="create">
        <div class="form-group">
            <label for="newBurger">Burger Name:</label>
            <input type="text" id="newBurger" name="name">
        </div>
        <button type="submit">Add a Burger</button>
    </form>

</main>