<main class="container pt-5 text-center">

    <h1 class="display-3 text-center">Eat-da-Burger!</h1>

    <img src="https://ih1.redbubble.net/image.894871460.7630/st,small,845x845-pad,1000x1000,f8f8f8.jpg" alt="Winky Burger Image"/>

    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-6">
                <h1>Burgers To Eat</h1>
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}} {{!-- If not devoured --}}
                    {{>burger-block devoured=false}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm-6">
                <h1>Devoured Burgers</h1>
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{>burger-block devoured=true}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <h1>Add a Burger!</h1>

    <form class="create">
        <div class="form-group">
            <label for="newBurger">Burger Name:</label>
            <input type="text" id="newBurger" name="name">
        </div>
        <button type="submit" class="btn btn-primary btn-sm"">Add a Burger</button>
    </form>

</main>